
.Typename{

  display: inline-block;
  font-family: "berkshire_swashregular", normal;
  font-size: 200%;
  margin-top: 18px;
  background: -webkit-linear-gradient(rgb(219, 125, 125), rgb(155, 72, 72));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Typedesc{
  
font-family: 'rowdies_lightregular';
font-size: 100%;
margin-top: 1px;
}

.columnref{
  display: inline-block;
  max-width: 400px;
  top: 0px;
}


.imageimg{
  border-radius: 5%;
  width:300px;
  height:300px;
  object-fit: cover;
  object-position: 50% 1%;
}

.image{
  display: inline-block;
  border-radius: 5%;
  padding: 1%;
  width: fit-content;
}

.image:hover{
  text-shadow: 0px 0px 20px rgba(212, 109, 109, 0.76);
  box-shadow: 0 0 20px rgba(100, 47, 54, 0.712);
  border-color: #bb8c8c; 
  border-width: 0px;
  transition: 0.5s;
  transform: scale(1.02);
}


.arrowleft {
    float: left;
    padding: 10px;
  }
  
  .arrowright {
      float: right;
      padding: 10px;
    }
  
  .pagetitle {
    display: inline-block;
    font-family: "berkshire_swashregular", normal;
    font-size: 30px;
    margin-top: 18px;
    background: -webkit-linear-gradient(rgb(219, 125, 125), rgb(51, 16, 16));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
.maincontentheader {
    text-decoration: none;
    border-radius: 5%;
    border-width: 20px;
    width: 100%;
    box-shadow: 0 6px 6px -6px #ebc2c8;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 1px;
  }
  
  .maincontentheaderdown {
      text-decoration: none;
      border-radius: 5%;
      border-width: 20px;
      width: 100%;
      text-align: center;
    }